body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
  background-image: url("https://images8.alphacoders.com/411/thumb-1920-411522.jpg");
  background-size: cover;
  margin: auto;
  max-width: 800px;
}

a {
  color: rgb(246, 250, 250);
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color:rgb(240, 64, 102);
  }

a.button, input[type=submit] {
  color: rgb(240, 64, 102);
  background: black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: transparent;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
  background-color: black;
  color: rgb(240, 64, 102);
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: transparent;
}

td {
  font-weight: bold;
  padding: 5px 20px 5px 10px;
  background-color: black;
  color:rgb(248, 238, 240);
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}
.pagination{
  width: 100%;
  margin: 0 auto;
}

.pagination ul{
  margin: 0 auto;

}

.pagination li{
  display: inline-block;
  padding: 0 10px;
  margin: 10px 15px 0 0;
  border: .5px rgb(139, 130, 130) solid;
  border-radius: 10px

}

.pagination li:hover{
  background-color: #01b189;
  color: aliceblue
}

.pagination a{
  text-decoration: none;
}

.container{
  position: relative;
}

#ad-search-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #60636275
}

#ad-search-form{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background: white;
  border: thin solid gray;
  border-radius: 10px;
  height: 560px;
  padding: 20px 30px;
  margin: auto;
  z-index: 4;
}

#total-found{
  display: block;
  margin: 10px 0;
  color: #a0b1ad;
  font-size: .9rem;
  font-family: normal
}

#ad-search-form label{
  font-weight: normal;
}

#ad-search-button{
  width: 100px;
  height: 2em;
  font-size: 0.7rem;
  position: absolute;
  right: 0;
  top:-25px
}

#ad-search-close{
  color: black !important;
  background-color: red;
  width: 15px;
  text-align: center;
  cursor: pointer;
  padding: 2.5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 10px;
  margin: 10px 0;
  font-size: .9rem;
  font-family: normal
}


#suggestions{
  position: absolute;
  right: 0;
  top: 60px;
  width: 230px;
}

#list{
  position: absolute;
  right: 0;
  background-color: aliceblue;
  width: 300px;
  border: .5px rgb(139, 130, 130) solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 2px;
}

#list ul {
  margin: 0;
}

#list a{
  font-size: 1rem;
  font-weight: normal
}

#no-results{
  margin-top: 100px;
  text-align: center
}

#no-results + p{
  text-align: center
}

h1 a{
  all: unset;
  text-decoration: none !important;
  cursor: pointer;
}

hr{
  margin: 10px 0;
}

hr:last-of-type{
  display: none
}
